[
  {
    "name": "实例1 (clean URL)",
    "base_url": "https://zentao.hctrobot.com/zentao",
    "account": "",
    "password": "",
    "product_id": 11
  },
  {
    "name": "实例2 (dynamic URL)",
    "base_url": "http://113.98.247.162:8088",
    "account": "",
    "password": "",
    "product_id": 381
  },
  {
    "name": "实例3 (cloud chandao)",
    "base_url": "https://freedynamics.chandao.com",
    "account": "",
    "password": "",
    "product_id": 78
  }
]
